[Unit]
Description=ClamAV virus scan
Requires=clamd@scan.service
After=clamd@scan.service

[Service]
SuccessExitStatus=1 2
ExecStart=-/usr/bin/clamdscan --fdpass --log=/var/log/clamdscan.log /
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=clamdscan

[Install]
WantedBy=multi-user.target
